<a class="item-recipe highlighted" href="pizza/{{id}}">
{{#with item}}
  <span class="attribution">
    <span class="title-recipe">{{name}}</span>
    <span class="metadata-recipe">
      <span class="bookmarks-recipe"><span class="icon-bookmark"></span> {{publishDate}}</span>
    </span>
  </span>
{{/with}}

<img src="{{image}}" />
</a>