  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">

      </div>
      <div class="description-about">
        <p>This App was designed based on a fictional shop called Foodlovers which needed a mobile application for its customers to get the latest news, hand-picked recipes, and share with other locals.

        <p>Food Lovers was made by <a href="http://vgbots.com" target="_blank" class="js-open">VGBots Studio</a> as an example to showcase one of many use cases for mobile applications and highlight the benefit it has towards shop owners.</p>
      </div>

    </div>
    <a href="https://vgbots.com" class="btn-primary js-open" target="_blank">Learn More</a>
  </div>