/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#login-buttons-image-twitter {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAByklEQVQ4jaVTz0sbQRh92V10l006GaKJCtEtmqMYU0Qpwqb4B6zgXdT0WEr7B0ih4MGLP05CUWMvHkQwglhvGhsvKmJOBhTUQjWU2slilKarrAfdZROTQ8m7fPMx33szb75vXKZpohpwVbEBCNaCMUYopXppAWOMxDNsOPf3H1WIeDoSURYYYwQAKKW6y7KgLe2vam11KyMRZcEpEP6SOkwbUgc4ATAKUF8YW2fXhZejvaHPsc7gvH2DnCfQGEtdxrd/5NRJteUDpVTf+5kLp2WlA6JsCyZv9ChplPKdTfJZkYWhEF3bvnV3fb36NZSY3dP6Q/5V4hFvIAaKPckE8W5pLBIQdwHAthBdPtpJuhpeAwDu74DrP4/R1/Ts4cwBWg/gN+DowoSqTBPezAMAeAHw+suSw4Q7schFApF6af19a+2yLVIB7xR+0Zk75yCveu82FMnMViKHCXcSa3PPVBJAX5BszL2SP2kNwvdy5M1e+S2AogME4HFYPibPpxKZC03nRAp/M+Dx2UWDzTXfpttrx72ikCoVtrrAAwgdXBk9iazxxtpskfhs1O86aHXXpAEcA7ivJGDBDcDnyAsA2FMsi1KB/0bVv/EBBBSY9mZ7PAsAAAAASUVORK5CYII=);
}

.camera-popup {
  position: fixed;
  z-index: 1000;
  top: 20%;
  width: 320px;
  left: 50%;
  margin-left: -150px;
  font-family: sans-serif;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  line-height: 1.3em;
  pointer-events: auto;
  padding: 20px;
  border-radius: 10px;
}

.camera-popup.camera-popup-wide {
  width: 480px;
  margin-left: -240px;
  top: 5%;
}

.camera-popup .hidden {
  display: none;
}

.camera-popup .viewfinder {
  text-align: center;
}

.camera-popup #video {
  width: 280px;
}

.camera-popup .center {
  text-align: center;
}

.camera-popup .photo-preview {
  width: 320px;
}

.camera-popup canvas {
  display: none;
}

.camera-popup .generic-error {
  text-align: center;
}

.camera-popup .permission-denied-error h2 {
  margin-top: 0;
  color: #596595;
  border-bottom: 1px solid #596595;
  padding-bottom: 10px;
  line-height: 1.3em;
}

.camera-popup .permissions-howto dd {
  margin: 5px 0 20px 10px;
  padding: 0;
  font-size: 0.8em;
  color: #444;
}

.camera-popup button {
  color: white;
  padding: 6px 8px;
  border-radius: 5px;
  background-color: #596595;
  border: 1px solid #464f75;
}

.camera-popup button:active {
  background-color: #7580ac;
  border: 1px solid #596595;
}

.camera-overlay {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

@font-face {
  font-family: 'lorabold';
  src: url('/font/lora-bold-subset.eot');
  src: url('/font/lora-bold-subset.eot?') format('embedded-opentype'), url('/font/lora-bold-subset.woff') format('woff'), url('/font/lora-bold-subset.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('/font/lato-regular-webfont.eot');
  src: url('/font/lato-regular-webfont.eot?') format('embedded-opentype'), url('/font/lato-regular-webfont.woff') format('woff'), url('/font/lato-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('/font/lato-italic-webfont.eot');
  src: url('/font/lato-italic-webfont.eot?') format('embedded-opentype'), url('/font/lato-italic-webfont.woff') format('woff'), url('/font/lato-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url('/font/lato-bold-webfont.eot');
  src: url('/font/lato-bold-webfont.eot?') format('embedded-opentype'), url('/font/lato-bold-webfont.woff') format('woff'), url('/font/lato-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('/font/lato-black-webfont.eot');
  src: url('/font/lato-black-webfont.eot?') format('embedded-opentype'), url('/font/lato-black-webfont.woff') format('woff'), url('/font/lato-black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
button,
input,
textarea,
select {
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #333333;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 28px;
  line-height: 32px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
}

h5 {
  font-size: 12px;
  line-height: 18px;
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #cccccc;
  text-transform: uppercase;
}

h6 {
  color: #aaaaaa;
}

p {
  font-size: 14px;
  line-height: 20px;
}

sub,
sup {
  font-size: .8em;
}

sub {
  bottom: -0.2em;
}

sup {
  top: -0.2em;
}

b {
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

em {
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}

[class^="btn-"],
[class*=" btn-"] {
  font-size: 12px;
  line-height: 18px;
  line-height: 22px !important;
  padding: 1.2em 1.25em .95em;
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: .3em;
  text-indent: .3em;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  white-space: nowrap;
}

[class^="btn-"][class*="small"],
[class*=" btn-"][class*="small"] {
  padding: .7em 1.25em .50em;
}

[class^="btn-"][class*="primary"],
[class*=" btn-"][class*="primary"] {
  background-color: #d83e14;
  color: #ffffff;
}

[class^="btn-"][class*="primary"]:hover,
[class*=" btn-"][class*="primary"]:hover {
  background-color: #c13712;
}

[class^="btn-"][class*="primary"]:active,
[class*=" btn-"][class*="primary"]:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
}

[class^="btn-"][class*="secondary"],
[class*=" btn-"][class*="secondary"] {
  background: #666666;
  color: rgba(255, 255, 255, 0.4);
}

[class^="btn-"][class*="secondary"]:hover,
[class*=" btn-"][class*="secondary"]:hover {
  background-color: #595959;
}

[class^="btn-"][class*="secondary"]:active,
[class*=" btn-"][class*="secondary"]:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
}

[class^="btn-"][class*="secondary"].active,
[class*=" btn-"][class*="secondary"].active,
[class^="btn-"][class*="secondary"].no-state:first-child,
[class*=" btn-"][class*="secondary"].no-state:first-child {
  background: #555555;
  color: #ffffff;
}

[class^="btn-"][class*="secondary"].active:hover,
[class*=" btn-"][class*="secondary"].active:hover,
[class^="btn-"][class*="secondary"].no-state:first-child:hover,
[class*=" btn-"][class*="secondary"].no-state:first-child:hover {
  background-color: #484848;
}

[class^="btn-"][class*="secondary"].active:active,
[class*=" btn-"][class*="secondary"].active:active,
[class^="btn-"][class*="secondary"].no-state:first-child:active,
[class*=" btn-"][class*="secondary"].no-state:first-child:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
}

[class^="btn-"][class*="secondary"].no-state,
[class*=" btn-"][class*="secondary"].no-state {
  color: #ffffff;
}

[class^="btn-"][class*="tertiary"],
[class*=" btn-"][class*="tertiary"] {
  background: #f8f8f8;
  color: #d83e14;
}

[class^="btn-"][class*="tertiary"]:hover,
[class*=" btn-"][class*="tertiary"]:hover {
  background-color: #f8f8f8;
}

[class^="btn-"][class*="twitter"],
[class*=" btn-"][class*="twitter"] {
  background-color: #46c8f5;
  color: #ffffff;
}

[class^="btn-"][class*="twitter"]:hover,
[class*=" btn-"][class*="twitter"]:hover {
  background-color: #16baf2;
}

[class^="btn-"][class*="twitter"]:active,
[class*=" btn-"][class*="twitter"]:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0 inset;
}

[class^="btn-"][class*="camera"],
[class*=" btn-"][class*="camera"] {
  border-radius: 10em;
  box-shadow: #d83e14 0 0 0px 2px inset;
  font-size: 20px;
  height: 4rem;
  letter-spacing: 0;
  padding: 0;
  text-indent: 0;
  width: 4rem;
}

[class^="btn-"][class*="camera"] .icon-camera,
[class*=" btn-"][class*="camera"] .icon-camera {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: auto;
  left: auto;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-transform: translate3d(50%, -50%, 0);
  -moz-transform: translate3d(50%, -50%, 0);
  -ms-transform: translate3d(50%, -50%, 0);
  -o-transform: translate3d(50%, -50%, 0);
  transform: translate3d(50%, -50%, 0);
  background-color: #d83e14;
  border-radius: 10em;
  color: #ffffff;
  display: inline-block;
  line-height: 3.5rem;
}

[class^="btn-"][class*="camera"]:hover,
[class*=" btn-"][class*="camera"]:hover {
  box-shadow: #ca3a13 0 0 0px 2px inset;
}

[class^="btn-"][class*="camera"]:hover .icon-camera,
[class*=" btn-"][class*="camera"]:hover .icon-camera {
  background-color: #ca3a13;
}

[class^="btn-"][class*="camera"]:active,
[class*=" btn-"][class*="camera"]:active {
  box-shadow: #ca3a13 0 0 0px 2px inset;
}

[class^="btn-"][class*="camera"]:active .icon-camera,
[class*=" btn-"][class*="camera"]:active .icon-camera {
  background-color: #ca3a13;
}

[class^="btn-"][disabled],
[class*=" btn-"][disabled] {
  opacity: .5;
}

.btns-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.btns-group [class*="btn-"] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

input[type="text"],
textarea {
  font-size: 14px;
  line-height: 20px;
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  padding: 1rem 1.25rem;
  line-height: 1.5em !important;
  background: transparent;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333333;
  outline: none;
}

input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

input[type="text"]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #aaaaaa;
}

input[type="text"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aaaaaa;
}

input[type="text"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

input[type="text"][disabled],
textarea[disabled] {
  opacity: .5;
}

.checkbox {
  font-size: 14px;
  line-height: 20px;
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #aaaaaa;
  clear: both;
  display: block;
  line-height: 1rem !important;
  cursor: pointer;
  min-height: 1em;
  position: relative;
}

.checkbox input[type="checkbox"] {
  font-size: 1em;
  visibility: hidden;
}

.checkbox input[type="checkbox"] + span:before {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: -1em;
  width: 0.85em;
  height: 0.85em;
  content: '';
  box-shadow: #aaaaaa 0 0 0 1px inset;
  display: inline-block;
}

.checkbox input[type="checkbox"]:checked + span:before {
  box-shadow: none;
  color: #d83e14;
  font-family: 'market';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e609";
}

@font-face {
  font-family: 'market';
  src: url('/icon/market.eot?-3varwy');
  src: url('/icon/market.eot?') format('embedded-opentype'), url('/icon/market.woff?-3varwy') format('woff'), url('/icon/market.ttf?-3varwy') format('truetype'), url('/icon/market.svg?-3varwy') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'market';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark-hollow:before {
  content: "\e607";
}

.icon-bookmark:before {
  content: "\e608";
}

.icon-check:before {
  content: "\e609";
}

.icon-pin:before {
  content: "\e60a";
}

.icon-rss:before {
  content: "\e603";
}

.icon-photo:before {
  content: "\e604";
}

.icon-twitter:before {
  content: "\e606";
}

.icon-camera:before {
  content: "\e602";
}

.icon-sync:before {
  content: "\e600";
}

.icon-user:before {
  content: "\e601";
}

.icon-home:before {
  content: "\e605";
}

.icon-cross:before {
  content: "\e60d";
}

.icon-question:before {
  content: "\e613";
}

.icon-share:before {
  content: "\e617";
}

.icon-email:before {
  content: "\e619";
}

.icon-menu:before {
  content: "\e61e";
}

.icon-arrow-right-alt:before {
  content: "\e629";
}

.icon-arrow-left-alt:before {
  content: "\e62a";
}

.icon-category:before {
  content: "\e652";
}